@use "../../../styles/functions";

:host {
  display: block;
  overflow-y: auto;
  flex: 1;

  padding: 30px;

  background-color: royalblue;
}

.notes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  align-items: start;
}

.note {
  padding: 10px;

  background-color: beige;

  border-radius: 10px;

  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);

  cursor: pointer;
}
