@use "../../../styles/functions";

:host {
  display: block;
  overflow-y: auto;
  flex: 1;

  padding: 30px;
}

.notes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  align-items: start;
}
