@use "sass:map";
@use "sass:list";

@use "variables";

@function color($color-segments) {
  $colors-list: map.get(
    variables.$nutrition-colors,
    list.nth($color-segments, 1)
  );

  @if $colors-list == null {
    @error 'Color #{$colors-list} list does not exist.';
  }

  $color: map.get($colors-list, list.nth($color-segments, 2));

  @if $color == null {
    @error "Color #{$color} does not exist.";
  }

  @return $color;
}

@function breakpoint($name) {
  $min: map.get(variables.$nutrition-grid-breakpoints, $name);

  @if not $min {
    @error "Breakpoint #{$name} does not exist.";
  }

  @return $min;
}
