@use "sass:map";

$nutrition-colors: (
  base: (
    light: #f8f9fa,
    dark: #343a40,
  ),
  primary: (
    50: #e7f6e9,
    100: #c5e9ca,
    200: #9fdaa8,
    300: #76cd85,
    400: #56c26a,
    500: #32b64f,
    600: #28a746,
    700: #1a953a,
    800: #0a842f,
    900: #00641b,
    contrast: (
      50: #343a40,
      100: #343a40,
      200: #343a40,
      300: #343a40,
      400: #343a40,
      500: #f8f9fa,
      600: #f8f9fa,
      700: #f8f9fa,
      800: #f8f9fa,
      900: #f8f9fa,
      A100: #343a40,
      A200: #f8f9fa,
      A400: #f8f9fa,
      A700: #f8f9fa,
    ),
  ),
  accent: (
    50: #f5e5f0,
    100: #e6bdda,
    200: #d692c2,
    300: #c467aa,
    400: #b64799,
    500: #a72889,
    600: #9b2384,
    700: #8a1c7d,
    800: #7b1775,
    900: #600f66,
    contrast: (
      50: #343a40,
      100: #343a40,
      200: #343a40,
      300: #343a40,
      400: #343a40,
      500: #f8f9fa,
      600: #f8f9fa,
      700: #f8f9fa,
      800: #f8f9fa,
      900: #f8f9fa,
      A100: #343a40,
      A200: #f8f9fa,
      A400: #f8f9fa,
      A700: #f8f9fa,
    ),
  ),
  worn: (
    50: #e1f4fc,
    100: #b4e5f7,
    200: #85d5f0,
    300: #59c4e7,
    400: #40b8de,
    500: #38acd5,
    600: #329dc1,
    700: #2889a7,
    800: #20768e,
    900: #135462,
    contrast: (
      50: #343a40,
      100: #343a40,
      200: #343a40,
      300: #343a40,
      400: #343a40,
      500: #f8f9fa,
      600: #f8f9fa,
      700: #f8f9fa,
      800: #f8f9fa,
      900: #f8f9fa,
      A100: #343a40,
      A200: #f8f9fa,
      A400: #f8f9fa,
      A700: #f8f9fa,
    ),
  ),
);

$nutrition-grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
  0px 1px 5px 0px rgb(0 0 0 / 12%);
