@use "../../../styles/functions";

%link {
  text-decoration: none;
  font-weight: 700;
}

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 10px;

  min-height: 60px;
  background-color: functions.color(primary 700);

  color: functions.color(base light);

  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.navigation {
  overflow: hidden;

  display: flex;
  flex-direction: column;

  background-color: functions.color(base light);

  border-radius: 5px;

  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
}

.notes-link {
  @extend %link;

  color: functions.color(base light);
}

.link {
  @extend %link;

  color: functions.color(base dark);

  padding: 8px 16px;

  transition-duration: 150ms;
  transition-property: background-color;

  &:hover {
    background-color: functions.color(primary 50);
  }
}

.link--active {
  background-color: functions.color(primary 50);
  color: functions.color(primary 600);
}
