<a class="notes-link" [routerLink]="notesPage"
  ><mat-icon>notes</mat-icon> <br />

  <span>Notes</span></a
>

<button
  nutritionBodyAction
  (hostClick)="isOpen = !isOpen"
  (bodyClick)="isOpen = false"
  mat-icon-button
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
>
  <mat-icon>account_circle</mat-icon>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  class="navigation"
>
  <div @emergenceAnimation class="navigation">
    <a class="link" [routerLink]="profilePgae" routerLinkActive="link-active"
      >Profile</a
    >

    <a class="link" [routerLink]="singInPage" routerLinkActive="link-active"
      >Log Out</a
    >
  </div>
</ng-template>
