@use "../../../styles/functions";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 60px;
  background-color: functions.color(primary 700);

  color: functions.color(base light);
}
