@use "../../../styles/functions";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 60px;
  background-color: functions.color(primary 700);

  color: functions.color(base light);

  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.active-link {
  color: functions.color(accent 100);
}
