:host {
  height: 100%;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "main";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;

  overflow-y: auto;

  background-image: url(^assets/img/svg/nutrition.svg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
