@use "../../../styles/functions";

:host {
  display: block;
  flex: 1;
  overflow-y: auto;
  padding: 50px 16px;
}

.search {
  width: 100%;
  max-width: 300px;
}

.items-list {
  overflow: auto;
  max-width: 300px;
  width: 100%;
  padding: 10px;
  display: flex;
  row-gap: 10px;
  flex-direction: column;

  border-radius: 2px;

  background-color: white;

  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
}

.nutrition-list {
  display: flex;

  flex-wrap: wrap;
  gap: 20px 30px;
}

.food-item {
  cursor: pointer;

  display: flex;
  align-items: center;
  column-gap: 10px;

  padding: 10px;

  transition-property: box-shadow;
  transition-duration: 150ms;

  border-radius: 5px;

  &:hover {
    box-shadow: 0 0 0 2px functions.color(accent 200);
  }
}

.item-image {
  display: block;

  width: 20px;
}
